# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Build artifacts
dist/
build/

# VS Code settings
.vscode/

# Ignore temporary files
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db